[submodule "libraries/aries-toolbox/libraries/aries-toolbox/aries-acapy-plugin-toolbox"]
	path = libraries/aries-toolbox/libraries/aries-toolbox/aries-acapy-plugin-toolbox
	url = https://github.com/hyperledger/aries-acapy-plugin-toolbox.git
